{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>CSE {% block title %} {% endblock title %} </title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="{% static 'dashboard/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="{% static 'dashboard/assets/css/ready.css' %} ">
	<link rel="stylesheet" href="{% static 'dashboard/assets/css/demo.css' %}">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="index.html" class="logo">
					Admin Dashboard
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
			</div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
            
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav topbar-nav ml-auto align-items-center">
            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout'%}">
                                <button type="button" class="btn btn-outline-success">Logout</button>
                                </a>
                            </li>
            
                        </ul>
                    </div>
            
                </div>
            </nav>
            
			</div>
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<div class="">
						
						<div class="info">
							
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample" aria-expanded="true" >
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="#edit">
											<span class="link-collapse">Edit Profile</span>
										</a>
									</li>
									<li>
										<a href="#settings">
											<span class="link-collapse">Settings</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav">
						<li class="nav-item ">
							<a href="{% url 'dashboard' %}">
								<i class="la la-dashboard"></i>
								<p>Department Management</p>
								
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'year_log' %}">
								<i class="la la-table"></i>
								<p>Year Management</p>
								
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'stud_mgt' %}">
								<i class="la la-keyboard-o"></i>
								<p>Student Management</p>
								
							</a>
						</li>

						<li class="nav-item">
							<a href="{% url 'contact_log' %}">
								<i class="la la-keyboard-o"></i>
								<p>Contact Details</p>
								
							</a>
						</li>
					</ul>
				</div>
			</div>

            {% block main-content %}  {% endblock main-content %}

        </body>
        <script src="{% static 'dashboard/assets/js/core/jquery.3.2.1.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/core/popper.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/core/bootstrap.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugin/chartist/chartist.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugin/chart-circle/circles.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/ready.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/demo.js' %}"></script>
        </html>