{% extends 'base.html' %}
{% load static  %}
{% block title  %} home {% endblock title  %}
{% block main-content %}

<div id="why-us" class="section">
    
    <div class="bg-image bg-parallax overlay" >
        <img src="{% static 'img/about.jpg' %}" width = "100%" height="100%"  alt="CTA Background">

    </div>
    <!-- /Backgound Image -->

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-6">
                <h2 class="white-text">About Us</h2>
                
            </div>

        </div>
        <!-- /row -->

    </div>
    <!-- /container -->

</div>

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">
            <div class="section-header text-center">
                <br><br>
                <p class="lead"><b>Dr. Babasaheb Ambedkar Technological University, with its headquarters situated at Lonere, is now a statutory State Technical University established by Government of Maharashtra through special Dr. Babasaheb Ambedkar Technological University Act. The university has been accorded the status of an ‘affiliating’ university of the entire State of Maharashtra from March 2, 2016, by the Maharashtra Act No. XXIX of 2014.</b></p>
            </div>
x
            <!-- feature -->
            <div class="col-md-4">
                <div class="feature">
                    <i class="feature-icon fa fa-flask"></i>
                    <div class="feature-content">
                        <h4>Online Courses</h4>
                        <p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
                    </div>
                </div>
            </div>
            <!-- /feature -->

            <!-- feature -->
            <div class="col-md-4">
                <div class="feature">
                    <i class="feature-icon fa fa-users"></i>
                    <div class="feature-content">
                        <h4>Expert Teachers</h4>
                        <p>We have best teaching as well as non teaching faculty</p>
                    </div>
                </div>
            </div>
            <!-- /feature -->

            <!-- feature -->
            
            <!-- /feature -->

        </div>
        <!-- /row -->

        <hr class="section-hr">

        <!-- row -->
        <div class="row">

            <div class="col-md-6">
                <h3>Persius imperdiet incorrupte et qui, munere nusquam et nec.</h3>
                <p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
                <p>No vel facete sententiae, quodsi dolores no quo, pri ex tamquam interesset necessitatibus. Te denique cotidieque delicatissimi sed. Eu doming epicurei duo. Sit ea perfecto deseruisse theophrastus. At sed malis hendrerit, elitr deseruisse in sit, sit ei facilisi mediocrem.</p>
            </div>

            <div class="col-md-5 col-md-offset-1">
                <a class="" href="#">
                    <img src="{% static 'img/about us.jpg' %}" width="500px" height="300px" alt="">
                    
                </a>
            </div>

        </div>
        <!-- /row -->

    </div>
    <!-- /container -->
    

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock main-content %}