{% extends 'base.html' %}
{% load static  %}
{% block title  %} contact {% endblock title  %}
{% block main-content %}
		<!-- /Header -->

		<!-- Hero-area -->
		<div class="hero-area section">

			
	

				<!-- Backgound Image -->
				<div class="bg-image bg-parallax overlay" >
					<img src="{% static 'img/contact.jpg' %}" width = "100%" height="100%"  alt="CTA Background">
	
				</div>
				<!-- /Backgound Image -->
	
				<!-- container -->
				<div class="container">
	
					<!-- row -->
					<div class="row">
	
						<div class="col-md-6">
							<h2 class="white-text">Enquiry</h2>
							
						</div>
	
					</div>
					<!-- /row -->
	
				</div>
				<!-- /container -->
	
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<li><a href="index.html">Home</a></li>
							<li>Contact</li>
						</ul>
						<h1 class="black-text" >Get In Touch</h1>

					</div>
				</div>
			</div>

		</div>
		<!-- /Hero-area -->

		<!-- Contact -->
		<div id="contact" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<!-- contact form -->
					<div class="col-md-6">
						<div class="contact-form">
							<h4>Send A Message</h4>
							<form method = 'POST'>

								{% csrf_token %}
								{{ form.as_p }}
								
								<button type="submit" class="main-button icon-button pull-right">Send Message</button>
							</form>
						</div>
					</div>
					<!-- /contact form -->

					<!-- contact information -->
					<div class="col-md-5 col-md-offset-1">
						<h4>Contact Information</h4>
						<ul class="contact-details">
							<li><i class="fa fa-envelope"></i>https://cse.dbatu.ac.in/</li>
							<li><i class="fa fa-phone"></i>Dr. Babasaheb Ambedkar Technoloical University.

								Lonere, Tal- Mangaon, Dist – Raigad. Maharashtra (India). 402103</li>
							<li><i class="fa fa-map-marker"></i>Nhave Road,Near IOPE</li>
						</ul>

						<!-- contact map -->
						<div id="contact-map"></div>
						<!-- /contact map -->

					</div>
					<!-- contact information -->

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<br>
		<br>
		<br>
		<!-- /Contact -->

		{% endblock main-content %}

		
