{% extends 'base.html' %}
{% load static  %}
{% block title  %} home {% endblock title  %}
{% block main-content %}

		<!-- /Header -->

		<!-- Home -->
		<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" >
				<img src="{% static 'img/bg1.jpg' %}" width="100%" height="100%" alt="Home Background">

			</div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="white-text">Edusite Free Online Training Courses</h1>
							<p class="lead white-text">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant, eu pro alii error homero.</p>
							
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->

		<!-- About -->
		<div id="about" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<div class="section-header">
							<h2>Welcome to CSE</h2>
							<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
						</div>

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-flask"></i>
							<div class="feature-content">
								<h4>Online Courses </h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-users"></i>
							<div class="feature-content">
								<h4>Expert Teachers</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-comments"></i>
							<div class="feature-content">
								<h4>Community</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
						<!-- /feature -->

					</div>

					<div class="col-md-6">
						<div class="about-img">
							<img src="{% static 'img/about.png' %}" alt="">
						</div>
					</div>

				</div>
				<!-- row -->

			</div>
			<!-- container -->
		</div>
		<!-- /About -->

		<!-- Courses -->
		<div id="courses" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>Gallary</h2>
					</div>
				</div>
				<!-- /row -->

				<!-- courses -->
				<div id="courses-wrapper">

					<!-- row -->
					<div class="row">

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/course01.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/course02.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/course03.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
								
							</div>
						</div>
						<!-- /single course -->

						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/course04.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
								
							</div>
						</div>
						<!-- /single course -->

					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/course05.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/course06.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">								</a>
								
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/course07.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
							</div>
						</div>
						<!-- /single course -->


						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/course08.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
							</div>
						</div>
						<!-- /single course -->

					</div>
					<!-- /row -->

				</div>
				<!-- /courses -->

				

			</div>
			

			  

		</div>
		<br>
		
		

		{% endblock main-content %}
		
