{% extends 'base.html' %}
{% load static  %}
{% block title  %} home {% endblock title  %}
{% block main-content %}

		<!-- /Header -->
		

		<!-- Home -->
		<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" >
				<img src="{% static 'img/bg1.jpg' %}" width="100%" height="100%" alt="Home Background">

			</div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="white-text">Education is one thing that no one can take away from you.</h1>
							<p class="lead white-text"></p>
							
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->

		<!-- About -->
		<div id="about" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<div class="section-header">
							<h2>Welcome to CSE</h2>
							<p class="lead"><b>Innovative solutions for modern problems.</b>
							</p>
						</div>

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-flask"></i>
							<div class="feature-content">
								<h4>Online Courses </h4>
								<p>We have arranged Techsaksham course and many other courses</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-users"></i>
							<div class="feature-content">
								<h4>Expert Teachers</h4>
								<p>We have best teaching as well as non teaching faculty.</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-comments"></i>
							<div class="feature-content">
								<h4>Placement</h4>
								<p>We provide the guidance for placement of each and every student</p>
							</div>
						</div>
						<!-- /feature -->

					</div>

					<div class="col-md-6">
						<div class="about-img">
							<img src="{% static 'img/home1.jpg' %}" alt="" style="height: 400px; width: 500px; ;" >
						</div>
					</div>

				</div>
				<!-- row -->

			</div>
			<!-- container -->
		</div>
		<!-- /About -->

		<!-- Courses -->
		<div id="courses" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>Gallary</h2>
					</div>
				</div>
				<!-- /row -->

				<!-- courses -->
				<div id="courses-wrapper">

					<!-- row -->
					<div class="row">

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/dbatu2.jpg' %}" alt="" style="height: 197px; width: 400px;">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/gallary7.jpg' %}" alt="" style="height: 197px; width: 400px;">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/gallary8.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
								
							</div>
						</div>
						<!-- /single course -->

						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/gallary9.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
								
							</div>
						</div>
						<!-- /single course -->

					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/gallary10.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/gallary2.jpg' %}" alt="" style="height: 197px; width: 400px;">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">								</a>
								
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/gallary3.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
							</div>
						</div>
						<!-- /single course -->


						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="{% static 'img/gallary4.jpg' %}" alt="">
									<img class="course-link-icon" src="{% static 'img/plus.png' %}"alt="" style="height: 50px; width: 50px;">
								</a>
								
							</div>
						</div>
						<!-- /single course -->

					</div>
					<!-- /row -->

				</div>
				<!-- /courses -->

				

			</div>
			

			  

		</div>
		<br>
		
		

		{% endblock main-content %}
		
